.blogs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;

  > h1 {
    margin-top: 2rem;
    font-size: 3rem;
    color: #673ab7;
    > span {
      color: lightgray;
    }
  }
  > p {
    color: lightgray;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  > .blogs-cards-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

    padding: 1rem 1rem;
    @media screen and (max-width: 650px) {
      flex-direction: column;
      gap: 2.5rem;
    }
  }
}
